.page-home {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  .page-left {
    width: 70%;
  }
}
.form-select {
  background-color: white;
}
.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  .title {
    color: #fc3c3c;
    font-size: 2rem;
  }
  .activity-group {
    display: flex;
    align-items: center;
    .form-select {
      margin-right: 20px;
    }
    .MuiOutlinedInput-input {
      padding: 10px 14px;
    }
  }
}
.page-stats {
  display: flex;
  justify-content: space-between;
  .info-box {
    flex: 1;
    &.selected {
      border-top: 10px solid greenyellow;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.red-box {
      border-color: red;
    }
  }
  .green-box {
    color: lightgreen !important;
  }
  .info-cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .info-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
}
.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
  border-radius: 12px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}
.page-map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  .leaflet-container {
    height: 100%;
    border-radius: 12px;
  }
}
.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.info-container {
  width: 150px;
}
.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
  img {
    width: 100px;
    border-radius: 5px;
  }
}
.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}
.info-table {
  margin-top: 20px;
  color: #6a5d5d;
  background-color: white;
  tbody {
    height: 400px;
    overflow: scroll;
    display: block;
  }
  tr {
    display: flex;
    justify-content: space-between;
    &:nth-of-type(odd) {
      background-color: #f3f2f8;
    }
  }
  td {
    padding: 0.5rem;
    border: none;
  }
}
.information {
  h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    &:last-of-type {
      margin-top: 1rem;
    }
  }
}
