.page-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .login-form {
    width: 500px;
  }
  .title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
  }
}
